.card-search-container {
    width: 90%;    
    height: 280px;
    border-radius: 16px ;
    background-color: #E6F7FF;    
    margin: 30px auto 30px;   

}

.card-search-content {
    padding-left: 10vh;
    padding-top: 2vh;
    
}

.input-search-name {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 40%;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
}

.btn-search{
    color: #FFF;
}