.home-container {
    margin-top: 10vh;
    padding-left: 15vh;
}
.home-content {
    margin-bottom: 10vh;
}

.title-text {
    font-size: 38px;    
}

.text-subtitle {
    font-size: 25px;   
    margin-left: 7vh;
    color: #6c7175c4;
}

.btn-home-container {
    margin-left: 7vh;
}