

.search-container {
    display: inline;
}

.loader-details-container {
    width: 90%;    
    height: 397px;
    border-radius: 16px ;
    background-color: #F5F5F5;    
    margin: 30px auto 30px; 
}


